<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musync">

    <!-- Required for Google Sign-In -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/musync"
        android:label="@string/app_name"
        android:roundIcon="@drawable/musync"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musync"
        tools:targetApi="31">

        <!-- Splash Screen Activity (Launcher Entry Point) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Musync">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Personality Type Selection Activity -->
        <activity
            android:name=".PersonalityActivity"
            android:exported="true" />

        <!-- Mood Selection Activity -->
        <activity
            android:name=".MoodActivity"
            android:exported="true" />

        <!-- Health Input Activity -->
        <activity
            android:name=".HealthActivity"
            android:exported="true" />

        <!-- Music Player Activity -->
        <activity
            android:name=".MusicPlayerActivity"
            android:exported="true" />

    </application>

</manifest>
